*{
    margin: 6px;
    border-radius: 15px;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.nav{
    background-color: rgb(10, 8, 8);
    color: aquamarine; 
}
.nav1{
    background-color: rgb(0, 3, 3);
    color: aquamarine;
    
}
.navflex{
    display: flex;
    font-size: 25px;
    flex-direction: column;
    
}
.navflex1{
    display: flex;
    font-size: 25px;    
}

.container{
    display: flex;
    justify-content: space-around;
    /* align-content: flex-end; */
    flex-direction: row;
}
.container1{
    display: flex;
    justify-content: space-around;
    /* align-content: flex-end; */
    flex-direction: row;

}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
